.container {
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user-list, .user-form, .user-posts {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px;
}
.back-button {
    background-color: #60CEE6;
    color: white;
}
.edit-button, .save-button {
    background-color: #E67860;
    color: white;
}
.edit-button:hover, .save-button:hover {
    background-color: #AC5A48;
}
.back-button:hover {
    background-color: #489BAC;
}
mat-list-option:hover, .active-link {
    color: white;
    background-color: #E67860;
}
.save-button:disabled {
    background-color: white;
    color: #E67860;
}
.map-container {
    height: 40%;
    width: 20%;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
}
@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .user-form {
        flex-direction: column;
    }
}